*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav-logo img{
    width: 150px;
}


.nav-menu ul{
    display: flex;
    list-style: none;
    
}

.nav-menu ul li{
    margin-right: 25px;
}